@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.navbar {
  position: relative;
  width: auto;
  color: black;
}

header {
  position: relative;
  height: 610px;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: relative;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
  
@media (pointer: coarse) and (hover: none) {
  /*header {
    background: url(video/duel.mp4) white no-repeat center center scroll; 
  }*/
header video {  
  display: none;
  }
}
.overlay img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 160px 0 0 60px;
  z-index: 1;
}
#panel {
  position: fixed;
  top: 10px; 
  right: 10px; 
  width: 30px; 
  height: 50px; 
  font: 14px Arial; 
  color: #ffff55; 
  text-align: center; 
  padding: 5px; 
  -webkit-transition-duration: 0.3s; 
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0; 
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}
#hidden_panel {
  position: fixed; 
  top: 10px; 
  right: -1210px; 
  background: lightblue; 
  color: #000; 
  width: 1210px; 
  height: 600px; 
  padding: 10px 10px 10px 10px; 
  text-align: left; 
  -webkit-transition-duration: 0.3s; 
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-border-radius: 0 5px 5px 0; 
  -moz-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  }

#panel:hover {
  right: 0; 
}
#panel:hover #hidden_panel {
  right: 1210px; 
}
.material-icons {
  color: white;
  size: 200%;
}
.PA {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 20px 0 0 100px;
}
.PA1 {
  color: rgb(7, 7, 99);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 80px 0 0 350px;
}
.PA2 {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 380px 30px 0 550px;
}
.block1 {
  width:auto;
  height: 600px;
  background: white;
  border: 1px white solid;
}
.block2 {
  width:auto;
  height: 600px;
  background: url(images/bg1.jpg);
  border: 0.1p—Ö white solid;
  margin-top: 50px;
}
.blocks1 {
  width:33.3%;
  height: 100px;
  background:rgb(192, 217, 241);
  float: left;
  padding-top: 23px;
  padding-left: 100px;
  align-items: center;
  color: black;
}
.blocks2 {
  width:33.3%;
  height: 100px;
  background: rgb(48, 124, 223);
  float: left;
  padding-top: 23px;
  padding-left: 50px;
  align-items: center;
  color: white;
}
.blocks3 {
  width:33.4%;
  height: 100px;
  background: rgb(38, 37, 112);
  float: left;
  padding-top: 23px;
  padding-left: 80px;
  align-items: center;
  color: white;
}
.title {
  width:auto;
  height: 100px;
  background: rgb(38, 37, 112);
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 17px;
}
.p1 {
  padding: 20px;
}
.h6 {
  padding-left: 500px;
}
.content {
  margin: 0;
  width:auto;
  height: 100%;
  font-size: 200%;
}
.about_photo1 {
  float: left;
  margin-left: 25px;
}

.about_photo2 {
  margin-left: 25px;
  float: left;
}
.about_photo3 {
  margin-left: 25px;
  float: left;
}
.about_photo4 {
  margin-left: 25px;
  float: left;
  padding-top: 25px;
}
.about_photo5 {
  margin-left: 25px;
  float: left;
  padding-top: 25px;
}
.about_photo6 {
  margin-left: 25px;
  float: left;
  padding-top: 25px;
}
.p2 {
  font-size: 150%;
  color: black;
  padding-top: 100px;
  margin: 50px 0 0 300px;
  font-weight: 600;
}
.cards {
  width: auto;
  height: auto;
  margin-left: 20px;
  padding-top: 20px;
  display: block;
}
.news .cards {
  width: 30%;
  height: auto;
  float: left;
  margin-left: 40px;
}
.btn_more {
  width:280px;
  height: 40px;
  background: rgb(228, 157, 190);
  margin-left: 50px;
  padding: 5px;
  color: black;
}
.btn_more_news {
  width:180px;
  height: 40px;
  background:  rgb(48, 124, 223);
  margin-left: 10px;
  padding: 5px;
  color: white;
  border-radius: 0.5rem;
  font-size: 50%;
}
.p3 {
  font-size: 200%;
  color: white;
  padding-top: 30px;
  margin: 50px 0 0 100px;
  font-weight: 600;
}
.footer {
  width:100%;
  height: 100px;
  background: rgb(38, 37, 112);
  color: white;
  float: left;
  text-align: center;
  justify-content: center;
  padding-top: 17px;
  margin-top:25px;
}
.activityIT {
  color: black;
  padding: 30px;
  margin-top:25px;
  font-size: 150%;
}
.cardsPA {
  width: 100%;
  height: 400px;
  margin-left: 20px;
  padding-top: 20px;
  display: block;
}
.newsPA .cardsPA {
  width: 45%;
  height: 550px;
  float: left;
  margin-left: 40px;
}
.content2 {
  width: 520px;
  height: 500px;
}
.participantsPA .cardsPA {
  width: 30%;
  height: 400px;
  float: left;
  margin-left: 20px;
}
#request {
  width: 555px;
  height: 500px;
  padding: 10px;
  margin: 15px 0 5px 50px;
  border: 2px grey solid;
  border-radius: 0.3rem;
}
.form {
  margin: 15px 0 0 0;
  width: 500px;
}
h4 {
  margin-left: 260px;
}
.input_item {
  margin: 2px 0 0 0;
  width: 500px;
}
.buttonSubmit {
  margin-left: 200px;
  margin-top: 40px;
}

.buttonSubmit {
  width:100px;
  height: 30px;
}
input {
  margin: 15px 0 0 15px;
}
.form-control {
  margin: 15px 0 0 15px;
}